<ion-content>
  <ion-list class="ion-padding">
    <ion-item lines="none" text-center>
      <ion-label>Codigo de Verificación1 </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-input type="number" [(ngModel)]="codigo" class="input-registro" text-center></ion-input>
    </ion-item>
    <ul>
      <li>
        El número que generes debe ser ingresado en el campo.
      </li>
      <li>
        Esto es para verificar el número telefónico. 
      </li>
    </ul>
  </ion-list>

  <div class="btn-siguiente" text-center>
    <ion-button (click)="generar()">
      Generar codigo
    </ion-button>
    <ion-button (click)="verificar(codigo)">
      Confirmar
    </ion-button>
  </div>

</ion-content>