<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button text="" defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">
    <div id="recaptcha-container1"></div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="6" offset-md="3">
          <div class="ion-text-justify">
            Te enviaremos un <ion-text color="primary">sms</ion-text> con el código de verificación.
          </div>
        </ion-col>
        <ion-col size="12" size-sm="12" size-md="6" offset-md="3">
          <ion-select placeholder="seleccione código" interface="popover" class="ion-padding" [(ngModel)]="codtel">
            <!--Bolivia-->
            <ion-select-option value="+591" selected>+591 🇧🇴 Bolivia</ion-select-option>
            <!--Argentina-->
            <ion-select-option  value="+54">+54 🇦🇷 Argentina</ion-select-option>
            <!--Perú-->
            <ion-select-option value="+51">+51 🇵🇪 Perú</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col *ngIf="codtel == ''" size="12" size-sm="12" size-md="6" offset-md="3">
          <ion-input placeholder="Número"  class="ion-padding" type="number" readonly></ion-input>
        </ion-col>
        <ion-col *ngIf="codtel != ''" size="12" size-sm="12" size-md="6" offset-md="3">
          <ion-input placeholder="Número" [(ngModel)]="phoneNumber" class="ion-padding" type="number"></ion-input>
        </ion-col>
        <ion-col size="12" size-sm="12" size-md="6" offset-md="3">
          <div class="ion-text-justify">
            El número que proporcionas servirá para que tus contactos puedan encontrarte y por razones de seguridad.
          </div>
        </ion-col>
        <ion-col size="12" size-sm="12" size-md="4" offset-md="4" class="footer ion-padding">
  
          <ion-button size="large" expand="full" shape="round" (click)="registrar(codtel,phoneNumber)">
            Registrarse
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
<!--
<ion-content>
  <h5>Te enviaremos un sms con el codigo de verificación</h5>
  <ion-item>
    <ion-label>Código</ion-label>
    <ion-select value="+591" okText="Aceptar" cancelText="Cancelar">
      <ion-select-option value="+591">+591</ion-select-option>
      <ion-select-option value="+54">+54</ion-select-option>
      <ion-select-option value="+51">+51</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list>
    <ion-item lines="none">
      <div id="recaptcha-container1"></div>
      <ion-input type="number" [(ngModel)]="phoneNumber" class="input-registro" text-center placeholder='Número'>
      </ion-input>
    </ion-item>
    <ul>
      <li>El número que proporciones servirá para que tu y tus contactos puedan realizar transacciones.</li>
      <li>Tus amigos y contactos podran encontrarte mediante el número que proporciones.</li>
    </ul>
  </ion-list>
  <ion-button (click)="registrar(phoneNumber)">
    Crear cuenta
  </ion-button>
</ion-content>
-->
