<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pagar por  QR </ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/ingresoegreso"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br><br><br>
    <div style="margin:auto; width:50%"><b>{{telefono}}</b></div>
    <br><br>
    <p>Monto a cancelar:</p>
          <ion-item>
            <ion-label class="texto">Bs.</ion-label>
            <ion-input  type="tel"  class="texto" [(ngModel)]="monto" name="monto" #input></ion-input>
          </ion-item>
    <ion-button  expand="full" (click)='pagar()'  >  Aceptar</ion-button>
</ion-content>
