
.texto{
    font-size: 40px;
}
.botones{
    width: 30%;
 }
 .div1{
    position: relative;
    top: 30%;
 }
.pin{
    font-size: 30px;
}
.ok{
   height: 46%;
   width: 100%;
   background-color: #631cce;
}

.imagen{
   width: 30px;
}
.imagen1{
  width: 30%;
}
.botonsito{ 
   width: 100%;
   height: 50%;
}
.borrar{
   height: 46%;
   width: 100%;
}