.texto{
    font-size: 40px;
}
.carga{
    width: 100%;
    position: absolute;
    bottom:10px;
    padding-left: 10px;
    padding-right: 10px
}

.letra{
    color: blue;
}
.imagen{
    width: 10%;
}
.iconito{
    position:absolute; top: 38%;left: 67%;
}
.nro{
    position:absolute; top: 8%;left: 80%;
}
