.texto{
    font-size: 80%;
    text-align: center;
}
.imagen{
    width: 10%;
    position: relative;
    left: 85%;
}
.div{
    position: relative;
    left: 5%;
}
.input2{
    
    width: 50%;
}
.nombre{
    
    height: 110%;
}
.input2{
    border: 0;
}