
.botones{
    width: 30%;
 }
 .ok{
    height: 95%;
 }
 .div1{
    position: relative;
    top: 20%;
 }
.pin{
    font-size: 30px;
}
.card{
   background-color: #5D5E5E;
   height: 30%;
}
.text{
   color: #ffffff;
}