
.botones{
    width: 30%;
 }
 
 .div1{
    position: relative;
    top: 25%;
 }
.pin{
    font-size: 30px;
}
.card{
   background-color: #5D5E5E;
   height: 30%;
}
.text{
   color: #ffffff;
}
.ok{
   height: 90%;
   width: 100%;
   background-color: #631cce;
}
.borrar{
   height: 46%;
   width: 100%;
}
.imagen{
   width: 30px;
}
.botonsito{ 
   width: 100%;
   height: 50%;
}