
.letra{
   color:white;
}
.a{
    background-color:#CECECE;
    height: 25%;
 }
 .textito{
     font-size: 400%;
     text-align: center;
     color: #ffffff;
 }
 .balance{
    color: #68FC4A;
    font-size: 170%;
}
.icono{
    font-size: 170%;
}
