
.icono{
    font-size: 170%;
}
.letra{
    color: blue;
}
.nuevo{
    position: absolute;
    top: 80%;
    width: 100%;
}
.textito{
    color: #ffffff;
    font-size: 1%;
}
.imagen{
    width: 10%;
}
.texto{
    top: 8%;
   position: absolute;
   left: 15%;
}