<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-input type="text" class="input-registro" [(ngModel)]="email" placeholder="Email"></ion-input>
  </ion-item>
  <ul>
    <li>
      El correo que proporciones servirá para guardar tus datos y tus contactos puedan realizar transacciones.
    </li>
    <li>
      Tus amigos y contactos podran realizar transacciones mediante tu correo.
    </li>
  </ul>
  <div class="btn-siguiente" text-center>
    <ion-button (click)="ingreso()">
      Siguiente
    </ion-button>
  </div>
</ion-content>