<ion-content>
  <ion-list class="ion-padding">
      <ion-item lines="none" text-center>
          <ion-label> PIN  </ion-label>
        </ion-item>
      <ion-item lines="none" text-center >
          <input class="input-pin" type="tel" [textMask]="{mask: mask}" [(ngModel)]="pin" placeholder="_ _ _ _"/>
        </ion-item>
        <ul>
            <li>
                 Este dato es muy ¡¡¡IMPORTANTE!!! .
            </li>
            <li>
                 Se requiere este dato para realizar cada una de las transacciones. 
            </li>
          </ul>
</ion-list>
<div class="btn-siguiente" text-center>
  <ion-button (click)="crear()">
      Siguiente
  </ion-button>
</div>
</ion-content>
