<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Enviar cobro a {{elegido.nombre}} a</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
<ion-item>
    <ion-searchbar color="primary" (ionInput)="getItems($event)" placeholder="Buscar contacto"></ion-searchbar>
  </ion-item>
    <ion-list>
    <ion-item *ngFor="let usu of items" (click)='prueba(usu)'>
      <p>{{usu.nombre}}</p>
    </ion-item>
  </ion-list>
  <ion-item>
      <ion-label>Contacto: </ion-label>
      <ion-input type="text" [(ngModel)]="contacto" readonly></ion-input>
    </ion-item>
  -->
  


  <ion-list>
    <ion-item>
      <ion-label>Monto: </ion-label>
      <ion-input type="number" [(ngModel)]="monto" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Detalle: </ion-label>
      <ion-input type="text" [(ngModel)]="detalle"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="enviocobro()">Enviar</ion-button>
</ion-content>