.texto{
   color: #7120EA;
}

.letra{
   color: #000000;
   font-size: 200%;
   text-align: center;
  
}
.letra1{
   color: #000000;
   font-size: 150%;
   text-align: center;
}



.monto-qr{
   font-size: 30px
}


.imagen{
    width: 30px;
}

.monto{
   font-size: 25px;
}


.parpadea {
  
   animation-name: parpadeo;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
 
   -webkit-animation-name:parpadeo;
   -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
 }
 
 @-moz-keyframes parpadeo{  
   0% { opacity: 1.0; }
   50% { opacity: 0.0; }
   100% { opacity: 1.0; }
 }
 
 @-webkit-keyframes parpadeo {  
   0% { opacity: 1.0; }
   50% { opacity: 0.0; }
    100% { opacity: 1.0; }
 }
 
 @keyframes parpadeo {  
   0% { opacity: 1.0; }
    50% { opacity: 0.0; }
   100% { opacity: 1.0; }
 }  



 ion-grid{
   margin: 0;
   padding: 0;
   ion-row{
      margin: 0;
      padding: 0;
      ion-col{
         margin: 0;
         padding: 0;
         ion-button{
            margin: 0;
            padding: 0;
         }
      }
   }
 }

 .keyboard{
   // position: relative;
   // top: 35%;
   /*=================*/
   /* Propiedad para tamaño
   /*=================*/
   height: 250px;
   /*=================*/
   /* Margenes inferior y laterales
   /*=================*/
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 20px;
   // background-color: grey;
}

.box{
   // border: 1px solid red;
   /*=================*/
   /* Propiedad para tamaño
   /*=================*/
   height: 250px;
}


.btn{
   height: 25%;
   width: 33%;
   padding: 2px !important;
   border-radius: 15px !important;
}
.btn-ocultar{
   height: 25%;
   padding: 2px !important;
   width: 33%;
}

.btn-borrar{
   height: 50%;
   width: 100%;
   padding: 2px 2px 2px 0px !important
}
.btn-ok{
    height: 50%;
    width: 100%;
    padding: 2px 2px 2px 0px !important
}
