.texto{
   color: #7120EA;
}

.letra{
   color: #000000;
   font-size: 200%;
   text-align: center;
  
}
.letra1{
   color: #000000;
   font-size: 150%;
   text-align: center;
}

.boton{
   color: #3880ff;
   width: 42%;
   position: relative;
   top:62%;
   left: 10%;
}
.botones{
   width: 30%;
}
.div1{
 position: relative;
 top: 55%;
}
.ok{
   height: 95%;
}
.monto-qr{
   font-size: 30px
}