<ion-content class="ion-padding">
    <ion-item no-padding>
        <ion-avatar item-start>
            
            <img src="assets/svg/logo_contact.svg" >
        </ion-avatar>
        <div *ngIf="usu.dato == 'enviatransferencia' || usu.dato == 'recibetransferencia'">
            <h4 class="titulo">Detalle transferencia</h4>
        </div>
        <div *ngIf="usu.dato == 'enviado' ">
            <h3 class="titulo">Detalle de envio</h3>
        </div>
        <div *ngIf="usu.dato =='recibio'">
            <h3 class="titulo">Detalle de solicitud</h3>
        </div>
        <ion-button slot="end" fill="clear" (click)="closeUsuario()">
            <ion-icon color="light" name="close" color="primary" class="icono"></ion-icon>
        </ion-button>
    </ion-item>

    <ion-grid>
        <ion-row>
            <ion-col size="5">Monto:</ion-col>
            <ion-col size="7">{{usu.monto}} Bs.</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">Usuario:</ion-col>
            <ion-col size="7">{{usu.nombre}}</ion-col>  
        </ion-row>
        <ion-row>
            <ion-col size="5">Telefono:</ion-col>
            <ion-col size="7">{{usu.telefono}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">Detalle:</ion-col>
            <ion-col size="7">{{usu.detalle}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">Fecha:</ion-col>
            <ion-col size="7">{{usu.fechita}}</ion-col>
        </ion-row>
        <ion-row *ngIf="usu.estado == '0' ">
            <ion-col size="5">Fecha de pago:</ion-col>
            <ion-col size="7">En espera</ion-col>
        </ion-row>
        <ion-row *ngIf="usu.estado == '1'  ">
            <ion-col size="5">Fecha de pago:</ion-col>
            <ion-col size="7">{{usu.fechapago}}</ion-col>
        </ion-row>
        <ion-row *ngIf="usu.estado == '1'">
            <ion-col size="5">Estado</ion-col>
            <ion-col size="7">Ya pagado</ion-col>
        </ion-row>
    </ion-grid>
</ion-content>