
<ion-content fullscreen>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="6" offset-md="3" class="ion-padding">
        <img src="assets/svg/fastgi_logo.svg" alt="" class="logo_start">
        <ion-text color="primary" class="ion-text-center">
          <h1 class="title_start"><b>Fastgi</b></h1>
        </ion-text>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6" offset-md="3" class="ion-padding">
        <ion-button size="large" expand="full" shape="round" (click)="logueo()">
          Ingresar
        </ion-button>
        <div class="ion-text-end" (click)="registro()">
          <h4>Registrarse</h4>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--
  //logueo ocn
<ion-content class="ion-no-padding" text-center>
  <ion-content class="ion-padding">
    <h1 class="ion-padding">Fastgi</h1>
    <img src="../../assets/moneda.svg" class="logo">
  </ion-content>
  <div class="link">
      <ion-button expand='block' (click)="logueo()">Ingresar</ion-button>
      <div  (click)="registro()">Crear cuenta</div>
  </div>
</ion-content>

-->

 <!--
   //email
    <ion-button routerLink="/registrate" expand="block" fill="clear">
      Registrate
    </ion-button>
    -->
    <!--
      //log con google
 <ion-button expand="block" color="danger" shape="round" (click)="doGoogleLogin()">
      Log with Google
      <ion-icon slot="start" name="logo-google"></ion-icon>
    </ion-button>
  -->