<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-input type="text" class="input-registro" [(ngModel)]="nombre" placeholder="Nombre" data-backdrop="static"  data-keyboard="false"></ion-input>
  </ion-item>
  <ul>
    <li>
      El nombre que proporciones servirá para que tus contactos puedan ubicar facilmente.
    </li>
    <li>
      Tus amigos y contactos podran encontrarte mediante el nombre que proporciones
    </li>
  </ul>
  <div class="btn-siguiente" text-center>
    <ion-button (click)="ingreso()">
      Siguiente
    </ion-button>
   
  </div>
</ion-content>