.texto{
    font-size: 40px;
}
.carga{
    width: 100%;
    position: absolute;
    bottom:10px;
    padding-left: 10px;
    padding-right: 10px
}

.letra{
    color: blue;
}
.imagen{
    width: 20%;
    height: 30%;
    background-color: #F8F8F8;
}
.iconito{
    position:absolute; top: 38%;left: 40%;
}
.nro{
    position:absolute; top: 8%;left: 80%;
}
.tarjeta{
    position: absolute;top: 8%;left: 20%;
}
