

<ion-content >
  <ion-list class="ion-padding">
      <ion-item lines="none" >
          <ion-input type="text" class="input-registro" [(ngModel)]="contrasena"  placeholder="Contraseña" ></ion-input>
        </ion-item>
        <ion-item lines="none" >
            <ion-input type="text" class="input-registro" [(ngModel)]="confirma" placeholder="Confirma tu contraseña"></ion-input>
          </ion-item>
          <ul>
              <li>
                   El password que proporciones servirá para que puedas ingresar a GoPay.
              </li>
              <li>
                Es muy importante que guardes este password se enviara al correo ingresado anteriormente.  
              </li>
            </ul>
  </ion-list>
  <div class="btn-siguiente" text-center>
      <ion-button (click)="guardarphone()">
          Siguiente
      </ion-button>
  </div>
</ion-content>
