<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-item lines="none" color="primary">
      <img src="assets/svg/logo_recive.svg" class="tamano" slot="start">
      <ion-label>Codigo Personal</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--
    descargar QR en web
 <div style="text-align:center">
    <ion-input type="text" placeholder="Enter name to generate QR Code" [(ngModel)]="qrcodename"> </ion-input><br>
    <ion-button (click)="generateQRCode()">Generate QR Code</ion-button>
    <ngx-qrcode *ngIf="display" id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "value">
    </ngx-qrcode><br>
    <a [href]="href" *ngIf="display" (click)="downloadImage()" download >Download Image</a>
  </div>
  -->
<!--

  el q sirve




  <a [href]="href"  (click)="downloadImage()" download>Download Image</a>
-->

<!--

  <ion-input type="text" placeholder="dato" [(ngModel)]="qrData">
  </ion-input>
  <ion-segment [(ngModel)]="elementType">
    <ion-segment-button value="canvas">
      <ion-label>canvas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="img">
      <ion-label>imagen</ion-label>
    </ion-segment-button>
    <ion-segment-button value="url">
      <ion-label>url</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-button (click)='scan()'>
    scan
  </ion-button>

  <ion-card *ngIf="qrData" text-center>
    <ngx-qrcode [qrc-value]="qrData" [qrc-element-type]="elementType" qrc-class="my-code">
    </ngx-qrcode>
    <ion-card-content>
      <ion-button (click)="downloadQR()" *ngIf="elementType == 'canvas' "> descargar</ion-button>
      <ion-button (click)="downloadQR1()" *ngIf="elementType == 'url' "> descargar1</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      resultado :: {{ scannedCode1 }}
    </ion-card-content>

  </ion-card>
-->

  <ion-list class="ion-no-padding">
    <ion-item lines="none" text-center *ngIf="usu == 1">
      <ion-label class="ion-no-margin">{{usuario.nombre}}</ion-label>
    </ion-item>
    <ion-item lines="none" text-center *ngIf="usu == 0">
      <ion-label class="ion-no-margin">Fastgi</ion-label>
    </ion-item>
    <ngx-qrcode [qrc-value]="createdCode" qrc-class="test-class"></ngx-qrcode>
    <ion-item text-right lines="none">


      <ion-label class="ion-no-margin" routerLink="/tabs/tab2/cobroqr" class="botonsito">+Agregar monto</ion-label>
    </ion-item>
  </ion-list>
</ion-content>