<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-item lines="none" color="primary">
      <img src="assets/svg/logo_recive.svg" class="tamano" slot="start"> 
      <ion-label>Codigo Personal</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <ion-list class="ion-no-padding">
    <ion-item lines="none" text-center *ngIf="usu == 1">
      <ion-label class="ion-no-margin">{{usuario.nombre}}</ion-label>
    </ion-item>
    <ion-item lines="none" text-center *ngIf="usu == 0">
      <ion-label class="ion-no-margin">Fastgi</ion-label>
    </ion-item>
    <ngx-qrcode [qrc-value]="createdCode" qrc-class="test-class"></ngx-qrcode>
    <ion-item text-right lines="none">
      <ion-label class="ion-no-margin" routerLink="/cobroqr" class="botonsito">+Agregar monto</ion-label>
    </ion-item>
  </ion-list>

</ion-content>